


#window {
    border-radius: 0px;
    border-style: solid;
    border-color: #CA9EE6;
    border-width: 3px;
    margin: 2px;
    background-color: rgba(48, 52, 70, 0.95);
}

#input {
    margin-bottom: 8px;
    border-radius: 4px;
    border-style: solid;
    border-color: #CA9EE6;
    border-width: 2px;
    color: #C6D0F5;
    background-color: #232643;
}

#outer-box {
    font-family: "Inconsolata";
    font-size: 13pt;
    margin: 6px;
}

#entry {
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

#entry:selected {
    color: #C6D0F5;
    background-color: #232643;
}
