/*******************************/
/* __        _____  _____ ___  */
/* \ \      / / _ \|  ___|_ _| */
/*  \ \ /\ / / | | | |_   | |  */
/*   \ V  V /| |_| |  _|  | |  */
/*    \_/\_/  \___/|_|   |___| */
/*******************************/

#window {
    border-radius: 0px;
    border-style: solid;
    border-color: #A9B665;
    border-width: 3px;
    margin: 2px;
    background-color: rgba(40, 40, 40, 0.95);
}

#input {
    margin-bottom: 8px;
    border-radius: 4px;
    border-style: solid;
    border-color: #A9B665;
    border-width: 2px;
    color: #D4BE98;
    background-color: #282828;
}

#outer-box {
    font-family: "Iosevka";
    font-size: 13pt;
    margin: 6px;
}

#entry {
    padding: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

#entry:selected {
    color: #D4BE98;
    background-color: #282828;
}
