/********************************************/
/* __        ___ __   ______    _    ____   */
/* \ \      / / \\ \ / / __ )  / \  |  _ \  */
/*  \ \ /\ / / _ \\ V /|  _ \ / _ \ | |_) | */
/*   \ V  V / ___ \| | | |_) / ___ \|  _ <  */
/*    \_/\_/_/   \_\_| |____/_/   \_\_| \_\ */
/********************************************/

/* ALICE'S CONFIGURATION OF WAYBAR */

/* Reset All Styles */

/* Temporary Fix */
label {
    all: unset;
}
button {
    all: unset;
}
/* End of Temporary Fix */

* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 1px;
	padding: 0;
}

/* The Whole Bar */
#waybar {
	background: transparent;
	color: #282828;
	background-color: rgba(40, 40, 40, 0.85);
	font-family: "inconsolata", "nerdfonts";
	font-size: 17px;
	border-radius: 10px;
	transition-property: background-color;
	transition-duration: .5s;
}

/* Every Module */
#clock,
#cpu,
#custom-date,
#memory,
#network,
#pulseaudio,
#temperature,
#tray {
	padding: 0.1rem 0.5rem;
	margin: 2px 1px;
	background: #98971A;
	color: #282828;
	border-radius: 10px;
}

/* MODULE STYLES ---------- {{{ */

#workspaces {
	font-size: 17px;
	/*padding: 0.1rem 0.2rem;*/
}
#workspaces button {
	border-bottom: 0px solid transparent;
	margin-bottom: 0px;
	margin: 0.0rem 0.2rem;
	padding: 0.1rem 0.3rem;
	color: #98971A;
}
#workspaces button.focused {
	box-shadow: inherit;
	color: #282828;
	background: #98971A;
	border-radius: 10px;
}
#workspaces button.urgent {
	border-color: #BF4934;
	color: #BF4934;
}
#workspaces button:hover {
	box-shadow: inherit;
    color: #282828;
    background: #98971A;
    border-radius: 10px; 
}

#cpu.warning {
	background: #D79921;
}
#cpu.critical {
	background: #BF4934;
}

#memory.warning {
	background: #D79921;
}
#memory.critical {
	background: #BF4934;
}

#network.disconnected {
	background: #BF4934;
}

#temperature.critical {
	background: #BF4934;
}

#tray {
	border-radius: 10px;
	background: transparent;
    background-color: rgba(40, 40, 40, 0.0);
}
#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
